@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Lora', serif;
        }
        body{
            width: 100%;
        }
        html{
            scroll-behavior: smooth;
        }
        .section{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-image: url(images/nature1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: relative;
            z-index: 1;
        }
        .section::before{
            content: "";
            width: 100%;
            height: 100%;
            background: #5D4157;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            position: absolute;
            opacity: 0.5;
            z-index: -1;
        }
        header{
            position: relative;
            top: 0;
            width: 100%;
            padding: 30px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header .logo{
            position: relative;
            color: white;
            font-size: 30px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
        }
        header .navigation a{
            color: black;
            /* background: white; */
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            padding: 2px 15px;
            border-radius: 20px;
            transition: .3s;
            transition-property: background;
        }
        header .navigation a:not(:last-child){
            margin-right: 30px;
        }
        header .navigation a:hover{
            background: white;
        }
        .content{
            max-width: 650px;
            margin: 60px 100px;
        }
        .content .info h1{
            color: #ff5959;
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 60px;
            margin-bottom: 30px;
            animation: title 2s;
        }
        .content .info span{
            color: #f0d43a;
            font-size: 50px;
            font-weight: 700;
            animation: title 2s;
        }
        .content .info p{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 40px;
            color: white;
            animation: toright 3s;
        }
        .content .info-btn{
            color: #faee1c;
            background-color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 10px 20px;
            border-radius: 5px;
            transition: .3s;
        }
        .content .info-btn:hover{
            background-color: white;
            color: black;
        }
        label{
            display: none;
        }
        #check{
            z-index: 3;
            display: none;
        }
        .up{
            position: fixed;
            bottom: 50px;
            left: 90%;
            text-decoration: none;
            animation: upto  .2s alternate;
            animation-timing-function: steps(2, end);
            animation-iteration-count: infinite;
        }
        .up i{
            font-size: 20px;
            width: 30px;
            height: 30px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @keyframes toright {
            from{
                transform: translateX(-1000px);
            }
            to{
                transform: translateX(0);
            }
        }
        @keyframes title {
            from{
                transform: translateX(-500px);
            }
            to{
                transform: translateX(0);
            }
        }
        @keyframes upto{
            from{
                transform: translateY(0px);
            }
            to{
                transform: translateY(5px);
            }
        }
        .section2{
            width: 100%;
            height: 200vh;
            background-color:#3f3b3b;
        }
        .gallery{
            height: 100%;
        }
        .gallery p{
            font-size: 50px;
            position: relative;
            top: 15px;
            left: 580px;
            color:#44d9e6;
            font-weight: 600;
        }
        .image{
            column-count: 4;
            margin: 0 37px;
            position: relative;
            top: 50px;
            text-align: center;
            color:#44d9e6;
        }
        .image img{
            width: 300px;
            height: 250px;
            margin-top: 10px;
            transition: .5s;
        }
        .image img:hover{
            transform: scale(.9);
        }
        .two{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 175px;
        }
        .two img{
            width: 300px;
            height: 250px;
            margin-right: 20px;
        }
        .three{
            width: 500px;
        }
        .three h1{
            margin-bottom: 15px;
            color: #44d9e6;
        }
        .three span{
            line-height: 2;
            word-spacing: 5px;
            color: #44d9e6;
        }
        .section3{
            width: 100%;
            height: 100vh;
            background-color: white;
        }
        .information{
            display: flex;
            padding: 30px
        }
        .one{
            text-align: center;
            padding: 10px;
            position: relative;
        }
        .one img{
            width: 120px;
        }
        .one p{
            font-size: 20px;
            line-height: 2;
            text-align: center;
            word-spacing: 3px;
        }
        .one a{
            position: absolute;
            content: "";
            right: 0;
            font-weight: 600;
            font-style: italic;
            font-size: 20px;
            border: 1px solid black;
            background-color: #e8ffe8;
            padding: 5px;
            border-radius: 5px;
            transition: .3s;
        }
        .one a:hover{
            color: #2f89fc;
            background-color: white;
        }
        .section4{
            width: 100%;
            height: 150vh;
            background-color:#f0f0f0;
        }
        .contact{
            margin-top: 80px;
            column-count: 3;
            text-align: center;
            column-gap: 2;
            column-rule: 2px solid gray;
        }
        .contact i{
            width: 300px;
            font-size: 30px;
            margin-bottom: 20px;        }
        .contact p{
            font-weight: 500;
            line-height: 2;
        }
        .header{
            font-size: 50px;
            font-weight: 700;
            position: relative;
            top: 50px;
            left: 530px;
        }
        .login-form{
            border: 1px solid;
            background-color: #dee1ec;
            width: 400px;
            height: 400px;
            position: relative;
            top: 75px;
            left: 480px;
            border-style: none;
        }
        .login-box{
            text-align: center;
            font-size: 65px;
            position: relative;
            top: 40px;
        }
        .form{
            position: relative;
            top: 60px;
            left: 50px;
        }
        .form input{
            padding: 10px;
            margin-bottom: 5px;
            width: 300px;
        }
        .form button{
            width: 300px;
            background: blue;
            border: 1px solid blue;
            padding: 10px;
            margin-bottom: 5px;
            font-weight: 700;
            color: white;
        }       
        .form a{
            text-decoration: none;
            color: blue;
        }
        .icon{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 50px;
            width: 415px;
            position: relative;
            bottom: 300px;
        }
        .icon i{
            font-size: 20px;
            padding: 30px;
            transition: .5s;
        }
        .icon i:hover{
            font-weight: bolder;
            transform: scale(1.5);
        }