
:root{
    --primary:rgb(45 136 255);
    --dark:rgb(24 25 26);
    --semidark:#3a3b3c;
    --thirddark:rgb(36 37 38);
    --red:red;
    --green:rgb(54 122 71);
    --yellow:rgb(137 108 38);
    --textcolor:#7a7c7f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--textcolor);
}
body{
    background-color: var(--dark);
}
.nav{
    background-color: var(--thirddark);
    height: 65px;
    display: flex;
}
.left{
    width: 25%;
}
.left-box{
    display: flex;
    padding: 12px;
}
.logo{
    width: 40px;
    margin-right: 5px;
}
.search-box{
    background-color: var(--semidark);
    color: var(--textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 100px;
}
.search-input{
    background-color: var(--semidark);
    color: var(--textcolor);
    border: none;
}
.search-input:focus{
    outline: none;
}
.center{
    width: 50%;
}
.center-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-logo{
    width: 140px;
    height: 54px;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--thirddark);
    position: relative;
}
.center-logo.active{
    border-bottom-color: var(--primary);

}
.center-logo.active .icon{
    color: var(--primary) !important;
}
.center-logo .notification{
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: var(--red);
    color: var(--textcolor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 37px;
}
}
.right {
    width: 25%;

}
