*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    background: #0d0d0d;
    height: 200vh;
    display: flex;
    justify-content: space-between;
}
.nav{
    height: 50px;
    width: 100%;
    background-color:  #242526;
    display: flex;
    margin-top: 15px;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    color: white;
}
.navigation{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navigation li a{
    text-decoration: none;
    background: #242526;
    color: white;
    padding: 0px;
    margin-right: 50px;
    border-bottom: 1px solid;
}
}
